@media screen and (min-width:767px){
	#btn-trigger{
		display: none;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 840px !important;
	}
	#detailsContent #room-description{
		margin-top: 50px;
	}
}
@media screen and (max-width:1280px){
	#checkoutroom img{
		height: 400px;
	}
}
@media screen and (max-width:1199px){
	#logo img {
	    margin-top: 0;
	}
	.navbar-nav > li > a{
		    margin-left: 20px;
	}
	.contact_page.parslide, .details_page.parslide{
		margin: -390px auto 0;
	}
	#main-content.contact_page{
		margin-top: 50px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 667px !important;
	}
}
@media screen and (max-width:1024px){
	.homepage .parslide .carousel-caption{
		margin-bottom: 100px;
	}
	.homepage .parslide .carousel-indicators {
	    margin-bottom: 105px;
	}
	#checkoutroom img {
	    height: 350px;
	}
	.slider-helper .carousel-caption{
		margin-bottom: -29px;
	}
}
@media screen and (max-width: 991px){
	#logo {
		width: 293px;
		padding: 64px 0 20px;
	}
	.homepage .parslide .carousel-caption{
		display: block !important;
		margin-bottom: 75px;
	}
	.homepage .parslide .carousel-indicators {
	    margin-bottom: 85px;
	}
	.ourservice h2{
		padding-top: 55px;
	}
	.ourservice p{
		padding-bottom: 30px;
	}

	.slider-helper .carousel-caption{
	display: block !important;
    margin-bottom: -112px;
	}
	.ourservice i{
		width: 50px;
    	height: 50px;
    	font-size: 20px;
	}
	.service1{
		max-width: 100%;
	}
	#icon-service{
		padding-top:0;
	}
	.search_page.slider-box h1, .details_page.slider-box h1{
		font-size: 50px;
	}
	#detailsContent #sidebar #check-room{
		margin-top: 100px;
	}
	#sidebar #check-room{
		margin-top: 50px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 720px !important;
	}
	#detailsContent #room-description p:last-child{
		padding-bottom: 0;
	}
	#detailsContent #sidebar #check-room {
	    margin-top: 70px;
	}
}
@media screen and (max-width:800px){
	.homepage .slider-box h1, .slider-box h1{
		font-size: 50px;
	}
	#checkoutroom img{
		height: 350px;
	}
	.img-border h2::after{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	#checkoutroom img {
	    height: 300px;
	}
	.slider-helper .carousel-caption {
	    margin-bottom: 20px;
            display: none !important;
	}
	.search_page.slider-box h1 {
	    font-size: 40px;
	}
}
@media screen and (max-width:768px){
	.container, body.mapsearch_page .container {
	    width: 700px;
	}
	#checkoutroom img {
	    height: 300px;
	}
	.ourservice h2{
		padding-top: 50px;
		font-size: 30px;
	}
	.img-border h2::after {
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	.ourservice h4{
		padding-bottom: 10px;
	}
	.pi{
		font-size: 15px;
	}
	.ourservice p {
	    padding-bottom: 20px;
	}
	.details_page.slider-box h1 {
	    font-size: 35px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 670px !important;
	}
}
@media screen and (max-width:767px){
	.homepage .parslide .carousel-caption{
		margin-bottom: 95px;
	}
	.homepage .parslide .carousel-indicators {
	    margin-bottom: 100px;
	}
	.slider-box .item {
		overflow: hidden;
		height: 320px;
	}
	.slider-box img{
		height: 320px !important;
		width: auto;
		position: absolute;
		left: 50%;
		margin-left: -384px;
		max-width: 10000px !important; 
	}
	/*.bookbtn {
		padding-top: 43px;
		padding-bottom: 15px;
	}*/
	#why_choose_us{
		margin-top: 40px;
	}
	#checkoutroom img {
	    height: 500px;
	}
	#member .img-staff img, #what-make-diffirent .content-diffirent img{
		width: auto;
		margin: 0 auto;
	}
	table#blogMainContainer3{
	    max-width: 100% !important;
	    width: 90% !important;
	    border-collapse: separate !important;
	}
	table#blogMainContainer3 tr td#blogMainContainer4,
	table#blogMainContainer3 tr td#blogMainContainer8{
	    width: 100% !important;
	    height: auto !important;
	    padding: 5px;
	    display: inline-block;
	}
	#detailsContent #check-room, #sidebar #check-room{
	    max-width: 100%;
	}
	#detailsContent #room-description{
		margin-top: 50px;
	}
}
@media screen and (max-width:736px){
	.contact_page.parslide #Google-Map iframe{
		height: 355px;
	}
	#detailsContent .pdroundedcorners{
		max-width: 636px;
		overflow-x: scroll;
	}
}
@media screen and (max-width:668px){
	.container, body.mapsearch_page .container {
	    width: 600px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 570px !important;
	}
	#detailsContent #room-description ul.tabs li{
		height: 40px;
	}
}
@media screen and (max-width:640px){
	.details_page.slider-box h1 {
	    font-size: 30px;
	}
	#detailsContent table{
		width: 100% !important;
	}
	#detailsContent .pdroundedcorners{
		max-width: 541px;
	}
}
@media screen and (max-width:600px){
	.container, body.mapsearch_page .container{
	    width: 550px;
	}
	.homepage .slider-box h1, .slider-box h1{
	    font-size: 40px;
	}
	.search_page.slider-box h1 {
	    font-size: 35px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 520px !important;
	}
	#detailsContent .pdroundedcorners{
		max-width: 494px;
	}
}
@media screen and (max-width:568px){
	.container, body.mapsearch_page .container{
	    width: 520px;
	}
	#checkoutroom img {
	    height: auto;
	}
	.slider-helper .carousel-caption {
	    margin-bottom: 0px;
	}
	.contact_page.parslide {
	    margin: -350px auto 0;
	}
	.contact_page.parslide #Google-Map iframe {
	    height: 295px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 490px !important;
	}
	#detailsContent .pdroundedcorners{
		max-width: 465px;
		display: none;
	}
	#detailsContent #room-description .pdroundedcorners{
		display: block;
	}
	#detailsContent .pdroundedcorners{
		max-width: 465px;
	}
}
@media screen and (max-width:480px){
	.container, body.mapsearch_page .container {
	    width: 440px;
	}
	.homepage .parslide .carousel-caption {
	    margin-bottom: 15px;
	}
	.homepage .parslide .carousel-indicators {
	    margin-bottom: 15px;
	}
	.slider-helper .button-slide {
	    margin-top: 20px;
	}
	.slider-box h1{
		font-size: 25px;
	}
	h2{
		font-size: 25px;
	}
	#questions .wow{
		width: 15%;
	}
	#questions .asked-question{
		width: 85%;
	}
	#questions .wow .box-date{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.search_page.slider-box h1 {
	    font-size: 20px;
	}
	.details_page.slider-box h1 {
	    font-size: 20px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 410px !important;
	}
	#detailsContent .pdroundedcorners{
		max-width: 389px;
	}
}
@media screen and (max-width:414px){
	.container, body.mapsearch_page .container{
	    width: 390px;
	}
	.homepage .slider-box h1 {
	    font-size: 30px;
	}
	#check-room .custom-form .col-xs-6.group{
		width: 100%;
	}
	#on-media .owl-carousel .owl-item img{
		width: auto;
		margin: 0 auto;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 360px !important;
	}
}
@media screen and (max-width:400px){
	#testimonial h2{
		font-size: 20px;
	}
	#questions h3{
		font-size: 25px;
	}
}
@media screen and (max-width:384px){
	.container, body.mapsearch_page .container{
	    width: 370px;
	}
	.slider-helper .carousel-caption {
	    margin-bottom: -10px;
	}
	#questions .wow{
		width: 17%;
	}
	#questions .asked-question{
		width: 83%;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 340px !important;
	}
}
@media screen and (max-width:375px){
	.container, body.mapsearch_page .container{
	    width: 350px;
	}
	#questions h3{
		font-size: 20px;
	}
	.question h4{
		font-size: 15px;
	}
	.search_page.slider-box h1 {
	    font-size: 15px;
	}
	.details_page.slider-box h1 {
	    font-size: 18px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 320px !important;
	}
}
@media screen and (max-width:360px){
	.container, body.mapsearch_page .container{
	    width: 350px;
	}
	.homepage .slider-box h1 {
	    font-size: 25px;
	}
	p.slide-subtitle{
		font-size: 20px;
	}
}
@media screen and (max-width:320px){
	#logo {
		width: 270px;
	}
	.container, body.mapsearch_page .container{
	    width: 300px;
	}
	.ourservice i{
		width: 50px;
    	height: 50px;
    	line-height: 30px;
        font-size: 20px;
	}
	.slider-box h1 {
	    font-size: 20px;
	}
	.slider-helper .carousel-caption {
	    margin-bottom: -20px;
	}
	#questions .wow{
		width: 25%;
	}
	#questions .asked-question{
		width: 75%;
	}
	.details_page.slider-box h1 {
	    font-size: 15px;
	}
	#detailsContent .fotorama__wrap,
	#detailsContent .fotorama__stage,
	#detailsContent .fotorama__stage__shaft{
		width: 270px !important;
	}
}