/*------------------------------------------------------------------
[Table of contents]

1. Body
2. Header / .main-header
2.1 Top-header/ .top-header
2.2 Navigation/ .main-nav
3. Slider/ .slider-box
4. Main/ #content
4.1 Content/ #main-content
4.2 Sidebar/ #sidebar
4.2.1 Check-room/ #check-room
4.2.2 Sub Room/ .sub-room
4.2.3 Contact / #contact-room
5. Footer
5.1 Footer Top/ #prefooter
5.2 Footer Bottom/ #footer
-------------------------------------------------------------------*/
/*------------------ SECTION CONTENT-----------------------*/
.container{
  color:#0c2340;
}
.main-content{
  padding-right: 45px;
}
h2{
  font-family: 'Playfair Display';
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 60px;
}
.img_zoom {
  overflow: hidden;
  text-align: center;
}
.img_zoom img{
  width: 100%;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0.9;
  max-height: 260px;
}
.img_zoom:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 1;
}
.title_room{
  font-family: 'Playfair Display';
  font-weight: 900;
}
.style_h3{
  padding: 21px 0 16px;
  font-family: 'Playfair Display';
  font-size: 36px;
}
.rooms-description {
    font-family: "Lato";
    font-size: 14px;
    padding-bottom: 25px;
    line-height: 1.7;
}
.rooms-description ul {
    margin-top: 14px;
}
#room-last{
  margin-bottom: 100px;
}
.infor-detail a{
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 900;
  color: #0c2340;
}
.infor-detail a:hover{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  color: #f3f3f3;
}
.btn_detail{
  background: #d4f5ff;
  padding: 9px 35px;
  border-radius: 0px;
  display: inline-block;
  vertical-align: middle;
  /*opacity: 0.7;*/
}
.btn_detail:hover,
.btn_detail:focus,
.btn_detail:active {
  opacity: 1;
  color: #fff;
}

/****** CSS Sidebar ******/

/*CSS #check-room*/
#check-room {
  margin-top: 25px;
}
#booking-wrap{
  padding: 25px 30px 32px;
}
.dk{
  background: #ffffff;
  margin: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  display: none;
  z-index: 999;
}

#check-room .mylabel {
  position:relative;
}
#check-room .mylabel:after {
  font-family: "Ionicons";
  content:'\f35f';
  font-size: 24px;
  color: #5e6f82;
  right:15px;
  top:10px;
  position:absolute;
  pointer-events:none;
}
.form-control{
  height: 39px;
  color: #0c2340;
  border-radius: 0;
}
.group{
  padding-bottom: 15px;
}
#datetimepicker1,#datetimepicker2{
  font-family: "Lato";
  font-size: 14px;
}
.last-group{
  padding-bottom: 30px;
}
.group h4 {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 12px;
}
.group ul.dk li{
  padding: 0.5em 1em;
  border-top: 1px solid #f3f3f3;
}

.date-time::-webkit-input-placeholder { color:#0c2340; }
.date-time::-moz-placeholder { color:#0c2340; }
input:-moz-placeholder { color:#0c2340; }

.group label{
  display: block;
}

.bookbtn{
  margin-top: 15px;
}

].btn-more{
  background-color: #d4f5ff;
  padding: 11px;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-weight: 900;
}
.btn-more a {
  color: #0c2340;
  font-family: "Lato";
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
.btn-more a:hover{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  color: #f3f3f3;
}
#button-check {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.bookbtn a {
  color: #0c2340;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.infor-room{
  font-family: 'Playfair Display';
  background: #d4f5ff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
      margin-top: 11px;
}

.copy p {
  font-size: 17px;
}
/*CSS .sub-room */
.sub-room{
  margin: 50px 0px;
}
.sub-room > div{
  margin-bottom: 17px;
}
.no-left{
  padding-left: 0px;
}
.no-right{
  padding-right: 0px;
}
.sub-room-1{
  margin-top: 25px;
}
.sub-room-1,.sub-room-2{
  padding-bottom: 20px;
}
.img-room{
  border-radius: 5px;
}
.img-room:hover{
  border-radius: 15px 0;

}
.sub-img{
  margin-right: -15px;
}
.subtitle-room{
  font-family: 'Lato';
  font-size: 14px;
  padding: 8px 0 6px;
}
.price-room{
  font-family: 'Lato';
  font-size: 14px;
}
/*contact*/
#contact-room {
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}
#contact-room figcaption {
  left:0px;
  text-align: center;
  position: absolute;
  top: 85px;
  transition: background-color 0.3s ease 0s;
  width: 100%;
}
#title-contact{

  font-family: 'Playfair Display';
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
#phone-contact{
  line-height: 1.5;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  font-style: italic;
  padding-top: 13px;
}
#p-or{
  padding-top: 7px;
  font-family: 'Lato';
  font-size: 14px;
  color: #ffffff; 
  font-weight: 900;
}
.p_btncontact{
  padding-top: 15px;
}
.p_btncontact a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 900;
  font-size: 14px;
}
.btn_contact{
  background: #0c2340;
  padding: 10px 40px;
  border-radius: 24px;
  display: inline-block;
  vertical-align: middle;
}
.btn_contact:hover,
.btn_contactl:focus,
.btn_contact:active {
  color: #ad9b49;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
}
#contact img{
  width: 100%;
  opacity: .8;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
#contact:hover img {
  opacity: 1;
}
#infor-cost{
  font-family: 'Lato';
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  font-style: italic;
  padding-top: 10px;
}

.side-panel-wrap ul li a{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}
.side-panel-wrap ul li a:hover{
  text-decoration: none !important;
}
footer ul.site-links{
  padding-left: 0;
}
input[type="radio"], input[type="checkbox"] {
    display: inline;
    width: 18px;
    position: relative;
    top: -4px;
    margin-right: 9px;
}
.sub-room ul {
    margin-left: 7px;
}
.apartment-room {
  padding-top: 25px;
  padding-bottom: 25px;
}
.apartment-room h5 span {
    font-weight: bold;
    font-size: 16pt;
}
.dxgvPagerTopPanel_PlasticBlue {
    display: none;
}
#content_propertylist1_grid1_DXMainTable {
    display: none;
}
.dxgvControl_PlasticBlue, .dxgvDisabled_PlasticBlue {
    border-top: none;
    border: none;
    font: inherit !important;
    background-color: white;
    color: #000000;
    cursor: default;
}
.dxgvPagerBottomPanel_PlasticBlue {
    background-color: transparent !important;
}
.dxpLite_PlasticBlue .dxp-current {
    border-radius: 4px;
    background-color: #F4D027 !important;
    border-color: #d4f5ff !important;
    color: #0c2340 !important;
    border: #fff;
    padding: 8px 13px !important;
    border-radius: 4px !important;
    margin-right: 6px !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.dxp-lead.dxp-summary, .dxp-num {
    border-radius: 4px;
    color: #0c2340 !important;
    border: #fff;
    padding: 8px 13px !important;
    border-radius: 4px !important;
    margin-right: 6px !important;
    font-family: "Lato", sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
.img_zoom {
    overflow: hidden;
    height: 270px;
}
.title_room {
    font-size: 17pt;
}
/*-----------------------RESPONSIVE------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
  #contact-room figcaption{
    top: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-content{
    padding-right: 15px;
  }
}
@media only screen and (max-width: 767px){
  #contact-room,.sub-room,#check-room,.apartment-room > figcaption{
    margin: auto;
    max-width: 400px;
  }
  .sub-room{
    margin-top: 50px;
  }
  #contact-room{
    margin-bottom: 100px;
  }
  .img_zoom {
    height: auto;
  }
  .img_zoom img{
    width: auto;
    margin: auto;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .main-content{
    padding-right: 15px;
  }
  #check-room {
    margin-top: 50px;
  }
  .sub-img{
    width: 21%;
  }

  #check-room .bookbtn {
    border-radius: 0 0 5px 5px;
    margin-top: 30px;
  }
}
@media (max-width:479px) {
  .main-content{
    padding-right: 15px;
  }
  .style_h3{
    font-size: 34px;
  }
  .col-xs-12.col-sm-12.col-md-3.col-lg-3{
    margin-top: -50px;
  }
}
